body {
    color: black;
    background-color: rgba(216, 237, 238, 255);
}

#container2 {
    width: 1000px;
    margin: 0 auto;
    margin-top: 5%;
}

#bloc {
    width: 100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 12px;
}

#container2 h1 {
    text-align: center;
    padding-bottom: 10px;
}